<form method="POST" action="/recipes">
<p>Name: <input type="text" name="name"></p>
<p>Ingredients: <input type="text" name="ingredients"></p>
<p>Cook time: <input type="float" name="cook_time"></p>
<input type="submit">
</form>